.navHeader {
  flex-direction: column;
  justify-content: space-around;
  /* padding-bottom: 10px */
}
.box{
  border: 1px solid black;
  border-spacing: 10px;
  font-size: 25px;
  padding: 5px;
}
.portfolio{
  background-color: black;
  color: turquoise;
  column-gap: 20px;
  text-transform: uppercase;
}
.boxWelcome{
  color: rgb(255, 0, 157);
  border: 1px solid black;
  border-spacing: 10px;
  font-size: 25px;
  padding: 10px;
}

.boxProfitorLoss{
  border: 1px solid black;
  border-spacing: 10px;
  font-size: 25px;
  padding: 10px;
}
