.row{
    display: flex;
    column-gap: 15px;
    padding: 3vh;
    color: white;
    background-color: black;
    filter: drop-shadow(0 0 8px cyan);
}

.column{
  flex: 50%;
  border: 3px solid white;
  width: 100%;
  padding: 10px;
  filter: drop-shadow(0 0 4px cyan);
  line-height: 150%;
}

.singleStock{
  border: 1px solid white;
}

.stockTable{
  margin: auto;
  border-spacing: 6px;
}

.boardName{
  text-align: center;
  border-bottom: 2px solid white;
  padding: 1vh;
  letter-spacing: 5px;
  font-size: 40px;
  text-transform: uppercase
}

.buyButton{
  color: rgb(184, 250, 86);
  border: yellowgreen;
  background-color:black;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(90, 224, 97, 0.5), 0 6px 10px 0 rgba(41, 209, 19, 0.363);
  filter: drop-shadow(1px 1px 1px rgb(60, 255, 0));

}

.sellButton{
  color: #f83535;
  border:rgb(255, 71, 71);
  background-color:black;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(255, 0, 0), 0 3px 10px 0 rgb(255, 25, 45);
  filter: drop-shadow(1px 1px 2px rgb(255, 81, 0));
}

.tableHeader{
  color:yellow;
  justify-content: center;

}

.loadMore{
  background-color: honeydew;
  border-radius: 10px;
}
